---
import "../styles/global.css"
import "../styles/navigator.css"
---


    <div class="navigator">
            
        <span>
        A bitter nobody
        </span>
            <div>
                
                <nav>
                    <div>
                        
                        <ul class="m-0 p-0 flex-wrap pl-4 w-20">
                            <li class="hover:bg-slate-200 m-0 p-0 list-none">
                                <a href=""
                                class="p-4">About</a></li>
                            <li class="hover:bg-slate-200 m-0 p-0 list-none">
                                <a href="" 
                                class="p-4">Gallery</a></li>
                            <li class="hover:bg-slate-200 m-0 p-0 list-none">
                                <a href=""
                                class="p-4">Blog</a></li>
                        </ul>

                    </div>
                    
                </nav>
            </div>
            
            <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    </div>